  body {
    background-color:#66CCFF;
    margin:0;
  }

  /*Menu Body*/
  ul#menu {
    width:100%;
    height:100px;
    background:url(bg.png) repeat-x scroll;
    list-style:none;
    margin:0;
    padding:0;
    padding-top:10px;
  }

  /*Float elements to the left for horizontal display*/
  ul#menu li {
    float:left;
  }

  /*Link common attributes*/
  ul#menu li a {
    display:block;
    height:65px;
    position:relative;
  }

  /*Class 'home'*/
  .home {
    background:url(HomeSprite.png) no-repeat scroll top;
    width:127px;
  }

  /*hover for home*/
  .home:hover, .homeActive {
    background:url(HomeSprite.png) no-repeat scroll bottom;
    background-position:0px -67px;
    width:127px;
  }

  /*Class 'questions'*/
  .questions {
    background:url(QuestionsSprite.png) no-repeat scroll top;
    width:127px;
  }


  /*hover for questions*/
  .questions:hover,.questionsActive {
    background:url(QuestionsSprite.png) no-repeat scroll bottom;
    background-position:0px -67px;
    width:127px;
  }

  /*Class 'history'*/
  .history {
    background:url(HistorySprite.png) no-repeat scroll top;
    width:127px;
  }

  /*hover for history*/
  .history:hover,.historyActive {
    background:url(HistorySprite.png) no-repeat scroll bottom;
    background-position:0px -67px;
    width:127px;
  }

  /*Class 'account'*/
  .account {
    background:url(AccountSprite.png) no-repeat scroll top;
    width:127px;
  }

  /*hover for account*/
  .account:hover,.accountActive {
    background:url(AccountSprite.png) no-repeat scroll bottom;
    background-position:0px -67px;
    width:127px;
  }

  /*Span (on hover) common attributes*/
  ul#menu li a span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:100;
  }

  /*The information for the logo on the menu bar*/
  .logo {
  background:url(WorldlyLogo2.png) no-repeat scroll;
  height:65px;
  width:210px;
  padding-top:8px;
  }

  /*The white space to push account over to the right*/
  .restOfBar {
  width:282px;
  }

  /*Span display pointer*/
  ul#menu li a span:hover {
    cursor:pointer;
  }
  .loginLink{
  float:right;
  width:1150px;
  }

 /*The white space for the website content*/
  *[id^='whiteSpace']{
    -moz-box-shadow: 0 5px 10px 3px #6497B0;
    -webkit-box-shadow: 0 5px 10px 3px #6497B0;
    box-shadow: 0 5px 10px 3px #6497B0;
    border-radius:5px;
    -moz-border-radius:15px;
    background-color: #F5F5F5;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
    height:auto;
    width:1000px;  
 
  }
  /*The contents container for the menu elements - width should be set to
    same as the white space above*/
  #contents1 {
    width:1000px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
  }

 
/* ----------------------------------------------------------------- HOME PAGE CSS--------- */
 
  /*div for the text for questions */
  *[id^='actualQuestion']{
    text-align:center;
    font-size:30px;
    padding-bottom:20px;
    height:auto;
  }

  .loginLink{
    text-align:right;
  }
  /* table that contains text field and button for ASK question */
  #askMe{
    padding-bottom:30px;
    padding-top:30px;
    margin-left:auto;
    margin-right:auto;
  }
 
  /* text box for ask questions */
  #question{
    width:400px;
    height:35px;
    border-radius: 3px;
  }

  /* the button "ASK!" */
  #askButton, #loginButton{
    width:110px;
    height:30px;    
  }
  
  #askButton:hover, #loginButton:hover{
    background-color:#66CCFF;
  }

 /* div for the answer buttons */
 #answerButtons{
    height:400px;
    width:1000px;
 }

 /* size of the text fields of login */
  #userHome{
    height:15px;
    width:170px;
  }
  #passHome{
    height:15px;
    width:170px;
  }

  /* every tab consists of separate div formated as follows*/
  #tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5{
    background-color:white;
    width:auto;
    height:auto;
  }

  /* the table for buttons (answers) */
  #buttonsTable{
    padding-top:40px;
    margin-left:auto;
    margin-right:auto;
  }
  #buttonsRows{
    border-collapse: collapse;
  }
  td{ 
    padding-top:5px;
  }

  /* next bits are for the different answer buttons */
  #answer1, #answer2, #answer3, #answer4, #answer5, #answer6{
    border-style:solid;
    border-width:3px;   
    background-color:white;
    width:150px;
    height:40px;
    border-radius: 8px;
  }
  #answer1{
    border-color:#FF6666;
  }
  #answer1:hover{
    background:#FF9966;
  }

  #answer2{
    border-color:#00FF00;   
  }
  #answer2:hover{
  background:#99FF99;
  }

  #answer3{
    border-color:#FFFF00;
  } 
  #answer3:hover{
    background:#FFFF99;
  }

  #answer4{
    border-color:#FF00CC;
  }
  #answer4:hover{
  background:#FF66FF;
  }

  #answer5{
    border-color:#00CCFF;
  } 
  #answer5:hover{
    background:#99FFFF;
  }  

  #answer6{
    border-color:#9966CC;
  }
  #answer6:hover{
    background:#CC99FF;
  }
  #questionText{
    margin-left:auto;
    margin-right:auto;
  }

/* ------------------------------------------------------ACCOUNT PAGE CSS --- LORA */
  
  .container {
   margin-left:auto;
   margin-right:auto;
   width:1000px;
 }
 
 /* login and registration forms*/
 .login, .register{ 
   margin-right:20px;
   color:#505050;
   padding: 10px 20px 20px;
   width: 250px;
   float:left;
   background:#F5F5F5;
   -moz-box-shadow: 0 5px 10px 3px #6497B0;
   -webkit-box-shadow: 0 5px 10px 3px #6497B0;
   box-shadow: 0 5px 10px 3px #6497B0;
   border-radius:5px;
   -moz-border-radius:15px;
 }

 .accountDetailsDiv{
   padding: 10px 20px 20px;
   background-color:#F5F5F5;
   -moz-box-shadow: 0 5px 10px 3px #6497B0;
   -webkit-box-shadow: 0 5px 10px 3px #6497B0;
   box-shadow: 0 5px 10px 3px #6497B0;
   border-radius:5px;
   -moz-border-radius:15px;
   width:500px; 
   margin-left:auto;
   margin-right:auto;
 }
 
 #detailsText{ 
   text-align:center;
   font-size:30px;
   color:#505050;
 }

 #userDetails{
 
   width:400px;
   margin-left:auto;
   margin-right:auto;
 }
 p.submit { text-align: right; }
 }

 /* the password and username text before in unactive state*/
 :-moz-placeholder {
   color: #c9c9c9 !important;
   font-size: 13px;
 }

 input[type=text], input[type=password] {
   margin: 5px;
   padding: 0 10px;
   width: 200px;
   height: 34px;
   color: #404040;
   background: white;
   border: 1px solid;
   border-color: #c4c4c4 #d1d1d1 #d4d4d4;
   border-radius: 2px;
   outline: 5px solid #eff4f7;
   -moz-outline-radius: 3px;  

   &:focus {
     border-color: #7dc9e2;
     outline-color: #dceefc;   
  }
 }

 .lt-ie9 {
   input[type=text], input[type=password] { line-height: 34px; }
 }

 #registerText, #loginTEXT{
   text-align:center;
   font-size:25px;
   color:#505050;
 }

  /* the area for log in details, div */
  #login{
      padding-bottom:10%;
  }

 /* text that is heading for your details section */
 #yourAccountHeading{
   text-align:center;
   padding-top:7%;
   font-size:35px;
   font-family:Arial,serif;
   color:#505050; 
   height:auto;
}
 #detailsArea{
    margin-left:auto;
    margin-right:auto;
    height:500px;
  }

 /* field around the form boxes */
 #fieldSet{
    -webkit-border-radius: 8px;
    -moz-box-shadow: 0 5px 10px 3px #6497B0;
    -webkit-box-shadow: 0 5px 10px 3px #6497B0;
    box-shadow: 0 3px 5px 1px #6497B0;
    border-radius:8px;
    -moz-border-radius:8px;
    width:auto;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    color:#505050;   
 }
/* fieldset of the registration form */
 #fieldSet2{
    -webkit-border-radius: 8px;
    -moz-box-shadow: 0 5px 10px 3px #6497B0;
    -webkit-box-shadow: 0 5px 10px 3px #6497B0;
    box-shadow: 0 3px 5px 1px #6497B0;
    border-radius:8px;
    -moz-border-radius:8px;
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    color:#505050;
 }
 /* the text in registartion table is on one line */
 td {
    white-space: nowrap;
    overflow: hidden;
    width: 125px;
    height: 25px;
}

 a:link {color:#505050;}      /* unvisited link */
 a:visited {color:#505050;}  /* visited link */
 a:hover {color:white;}  /* mouse over link */
 
 /* the footer */
 #footer{
    text-align:right;
    height:10px;
    padding-top:10px; 
    padding-bottom:5px;
    margin-top:15px; 
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    background-color:#66CCFF;
 }
 #formLog, #formReg{
    background-color:#F5F5F5;   
 }

  #detailsText{
    font-size:26px;
    text-align:center;
 }
/*------------------------------------------------------------QUESTION PAGE----------------*/
#whiteSpace1{
   padding-bottom:20px;
 }
 /*div that holds the title of the page*/
 #addNewQuestion{
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    padding-top:5px;
 }

 /* text for the title of QUESTION page */
 #textTitleForAddNew{
    text-align:center;
    font-size:30px;
    color:#505050;
 }
 
 /* holds the new question and answers in QUESTION page*/
 #divAddQuestion{
    width:400px;
    height:auto;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;    
 }

 /* div for the question only, isn't in table, because the counter doesn't work */
 #divUserQuestion{
    white-space: nowrap;
 }
 
 /*the textfield where the user enter the question*/
 #userQuestion{
    width:300px;
    height:35px;
    border-radius: 8px;
 }
 
 /* the button Add Answer */
 #addAnswerButton{

 }

 /* the button Submit Question */
 #userSubmitNewQuestion{
     margin-left:130px;
     margin-right:110px;
     margin-top:20px;
     width:110px;
     height:30px;
 }
 
 /* div that holds the table for voting and previewing questions*/
 #tableQuestionsVote{
     margin-left:auto;
     margin-right:auto;
     margin-top:50px;
     width:auto; 
 }
 
 /* the table for vote and preview questions*/
 #questionsTable{
     border: 1px solid;
     border-color:#505050; 
     border-radius:8px;
     margin-left:auto;
     margin-right:auto;
 }
 #addAnswerTable{
     width:300px;
 }
 
 #question1{
     width:100px;
 }

 /* the text "vote for question" */
 #DivVoteForQuestion{
     width:300px;
     margin-left:auto;
     margin-right:auto;
     padding-top:5px;
     margin-top:40px;
     font-size:25px;
 }
 
 #moreQuestionsButton{
     width:100px;
     align:right;
 }

 *[id^='preview']{
     background-color:white;
 } 
/* ----------------------------------------------------------HISTORY PAGE CSS ------ PEDRO */
 /*div that holds the droplists for from and type of questions*/
 #FromAndType{
  margin-left:auto;
  margin-right:auto;
  width:500px;
  height:40px;
  padding-top:7px;
  padding-bottom:7px;
 }
 
 /* From */
 #from{
   float:left;
   width:auto;
   margin-left:auto;
   margin-right:auto;
   color:#505050; 
   padding-right:10px;
  } 
 /* Type */
 #type{
   float:left;
   width: auto;
   margin-left:auto;
   margin-right:auto;
   color:#505050; 
  }
 /* Search */
 #search{
   float:right;
   width: auto;
   margin-left:auto;
   margin-right:auto;
  }

 /* follows code for the tabs on history page */
 .ui-tabs-vertical{
   width: 55em;
   
  }
 .ui-tabs-vertical .ui-tabs-nav{
   padding: .0em .1em .0em .0em; 
   float: left; 
   width: 40px;
   background-color:none;
  }
 .ui-tabs-vertical .ui-tabs-nav li{
   clear: left; 
   width: 100%;
   border-bottom-width: 1px !important; 
   border-right-width: 0 !important;
   margin: 0 -1px .2em 0;
  }
 .ui-tabs-vertical .ui-tabs-nav li a{
   display:block;
   
  }
 .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active{
   padding-bottom: 0; 
   padding-right: .1em; 
   border-right-width: 1px; 
   border-right-width: 1px;  
  }
 .ui-tabs-vertical .ui-tabs-panel{
   padding: 1em; 
   float: right; 
   width: 40em;
  }
  
  #tabsHistory, #tabs{
    width:auto;
    height:auto;
    -moz-box-shadow: 0 3px 7px 2px  #c1d5df;
    -webkit-box-shadow: 0 3px 7px 2px  #c1d5df;
    box-shadow: 0 1px 4px 3px  #c1d5df;
    border-radius:1px;
    -moz-border-radius:2px;
}
/* --------------------------------------------------------------------------MAP */
 
*[id^='map']{ 
   height: 600px;
   width: 900px;
   margin-left:auto;
   margin-right:auto;
   -moz-box-shadow: 0 5px 10px 3px #6497B0;
   -webkit-box-shadow: 0 5px 10px 3px #6497B0;
   box-shadow: 0 5px 10px 3px #6497B0;
   border-radius:5px;
   -moz-border-radius:15px;
}
/*================================================================================================================*/
